<div class="container">
    <div class="card">
        <div class="card-header bg-light">
            <h3 class="card-title">
                Latest Comments
            </h3>
        </div>
        <div class="card-body">
           <ul class="media-list">
               <li class="media mb-4">
                   <a href="#" class="pull-left">
                       <img src="/dummyImages/caspar-camille-rubin-89xuP-XmyrA-unsplash.jpg" width="45" height = "45" class="mr-2">
                   </a>
                   <div class="media-body">
                       this shit is wack <br />
                       <strong class="media-heading">
                           Steve
                       </strong>
                       <small class="text-muted">A few days ago</small>
                   </div>
               </li>
               <li class="media">
                   <a href="#" class="pull-left">
                       <img src="/dummyImages/caspar-camille-rubin-89xuP-XmyrA-unsplash.jpg" width="45" height = "45" class="img-circle">
                   </a>
                   <div class="media-body">
                       i actually like it. Good work bro! <br />
                       <strong class="media-heading">
                           Jane
                       </strong>
                       <small class="text-muted">43 minutes ago</small>
                   </div>
               </li>
           </ul>
        </div>
    </div>
</div>